.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#quiz {
   font-size: 25px;
}

.modal-box {
    position: fixed;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
    background-color: rgba(0, 0, 0, 0.5); 

    display: flex;
    justify-content: center;
    align-items: center;

    visibility: hidden;
}




.modal-content {
    
    position: relative;
    height: 800px;
    width: 1000px;
    border-style: solid;
    
    background-color: white;

    overflow-y: scroll;
    
   
}

.nav  {
    position: relative;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    margin-left: 40px;
    
}

.nav p{
    font-size: 30px;
}

.scroll1 {
    height: 1100px;
    width: 900px;
    
}

.q1 {
    font-size: 25px;
    
}

.q1-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.q1-buttons button{
    font-size: 18px;
}

.q2 p{
    font-size: 25px;
    
}
.q2-buttons label {
    font-size: 18px;
}

.q3 {
    font-size: 25px;
    
}

.q3-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.q3-buttons button{
    font-size: 18px;
}

.q4 {
    font-size: 25px;
    
}

.q4-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.q4-buttons button{
    font-size: 18px;
}

.q5 {
    font-size: 25px;
    
}

.q5-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.q5-buttons button{
    font-size: 18px;
}

.q6 {
    font-size: 25px;
    
}

.q6-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.q6-buttons button{
    font-size: 18px;
}

.q7 p{
    font-size: 25px;
    
}
.q7-buttons label {
    font-size: 18px;
}

.q8 {
    font-size: 25px;
    
}

.q8-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}
.q8-buttons button{
    font-size: 18px;
}

#next1 {
    font-size: 40px;
    float: right;
    margin-top: 50px;
    margin-right: 40px;
}
